<li class="list-group-item"> {{id}}. {{burger_name}}

	{{#unless devoured}}
		<button class="btn btn-success change-devoured" data-id="{{id}}" data-name="{{burger_name}}">
			Devoure it!
		</button>
	{{/unless}}

	<button class="btn btn-danger delete-burger" data-id="{{id}}" data-name="{{burger_name}}">Delete burger</button>


</li>