<li class="list-group-item"> {{id}}. {{burger_name}}

	{{#unless devoured}}
		<button class="btn btn-success change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
			Devoure it!
		</button>
	{{/unless}}

	<button class="btn btn-danger delete-burger" data-id="{{id}}">Delete burger</button>


</li>